<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Jogo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .form-container {
            margin-top: 20px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
        .form-header {
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
            padding-bottom: 10px;
        }
        .checkbox-container {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
        }
        .form-label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Atualizar Jogo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/listar">Listar Jogos</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <div class="form-header">
                        <h2>Atualizar Jogo</h2>
                    </div>
                    <form action="/atualizar/{{ jogo.id }}" method="POST">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o nome do jogo" value="{{ jogo.nome }}" required />
                        </div>
                        <div class="mb-3">
                            <label for="genero" class="form-label">Gênero:</label>
                            <select id="genero" name="genero" class="form-select" required>
                                <option value="">Selecione o gênero</option>
                                <option value="Indie" {% if jogo.genero == 'Indie' %} selected {% endif %}>Indie</option>
                                <option value="RPG" {% if jogo.genero == 'RPG' %} selected {% endif %}>RPG</option>
                                <option value="FPS" {% if jogo.genero == 'FPS' %} selected {% endif %}>FPS</option>
                                <option value="Sports" {% if jogo.genero == 'Sports' %} selected {% endif %}>Sports</option>
                                <option value="Casual" {% if jogo.genero == 'Casual' %} selected {% endif %}>Casual</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="valor" class="form-label">Valor:</label>
                            <input type="number" step="0.01" id="valor" name="valor" class="form-control" placeholder="Digite o valor do jogo" value="{{ jogo.valor }}" required />
                        </div>
                        <div class="mb-3">
                            <label for="plataforma" class="form-label">Plataforma:</label>
                            <select id="plataforma" name="plataforma" class="form-select" required>
                                <option value="">Selecione a plataforma</option>
                                <option value="PC e PS5">PC e PS5</option>
                                <option value="PC e XBOX">PC e XBOX</option>
                                <option value="XBOX e PS5">XBOX e PS5</option>
                                <option value="PC">PC</option>
                                <option value="PS5">PS5</option>
                                <option value="XBOX">XBOX</option>
                                <option value="Todos">Todos</option>
                            </select>
                            
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="zerado" name="zerado" class="form-check-input" {% if jogo.zerado %} checked {% endif %}>
                            <label for="zerado" class="form-check-label">Zerado</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
